{% extends 'base.html.twig' %}

{% block title %}
    Create a serie | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        {# todo : afficher le formulaire de création #}
    </section>
{% endblock %}

