{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre de la série | {{ parent() }}
{% endblock %}

{% block body %}
<h2>todo : le titre de la série </h2>

    {# Afficher le titre de la série #}
{% endblock %}

